body {
    font-family: 'Roboto', sans-serif;
}

.play {
    width: 50%;
    padding-left: 100px;
}

.color {
    color: coral;
}

h1 {
    font-size: 50px;
}

.marjin {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    border: solid 3px;
    margin-bottom: 5px;
    background-color: rgb(29, 160, 235);
    color: rgb(3, 2, 0);

}

.flexible-container {
    background-image: url(white\ banner.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding-left: 30px;
}

.den {
    background-size: 90%;

}

.half {
    width: 50%;
    padding-left: 30px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 10px rgb(13, 14, 13);
    border-left: solid blue 7px;

}

.what {
    background-image: url(white\ banner.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}

#full-stack-developer {
    border-left: 7px solid tomato;
}

footer p {
    text-align: center;
}